# Dependencies
node_modules/
bun.lockb

# Production
dist/
apps/*/dist/

# Environment
.env
.env.local

# Database
packages/database/prisma/*.db
packages/database/prisma/*.db-journal

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Logs
*.log
npm-debug.log*