.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: fixed;
  background-color: var(--color-surface);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--radius-lg);
  padding: 20px;
  width: 100%;
  max-width: 500px;
}

.container {
  display: relative;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
}
